/* Cores
  #8c50ff principal
  #EB42FF
  #A73CE8
  #4A3CE8
  #4266FF */

*{
                margin: 0;
                padding: 0;
}
html, body{
                
                width: 100%;
                height: 100%;
}
body{
  background-color: #fff64f;
}

#anuncio-pagina{
  width: 50%;
  height: 100%;     
}
.titulo-pagina{
  position: relative;
  left: 20%;
  top: 15px;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  font-weight: normal;
  color: #8C50FF;
}
.conjunto-paragrafo-pagina{
                max-width: 550px;
                position: relative;
                top: 10%;
                left: 20%;
} 
.paragrafo-pagina{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 1.7em;
}
.palavra-destaque{
  font-family: 'Permanent Marker', cursive;
  color: #5725b3;
}
.cadastro{
  position: relative;
  max-width: 70%;
  top: 15%;
  left: 20%;
}
.rotulo-campos-cadastro{
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  margin-left: 15px;
}
.campos-cadastro{
  display: block;
  width:70%;
  margin-bottom: 5%;
  padding: 6px;
  border-style: none;
  border-radius: 20px;
  background-color: #b3aa14;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  color: white;
}
.botao-enviar{
  display: block;
  width: 30%;
  padding:10px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 2px 2px 5px #9d69ff  ;
  background-image: linear-gradient(to right, #5725b3, #9d69ff);
  font-family:'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: #fff64f;
}

.imagem-pagina{
  position: absolute;
  width: 45%;
  top: 1.5%;
  left: 54%;
}
#campocontatos{
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%);
}
.contatosredessociais{
  margin-right: 40px;
  padding: 5px;
  width: 30px;
  height: 30px;
}



