/* Cores
  #8c50ff principal
  #EB42FF
  #A73CE8
  #4A3CE8
  #4266FF */

*{
                margin: 0;
                padding: 0;
}
html, body{
                
                width: 100%;
                height: 100%;
}
body{
  background-image: linear-gradient(to right, #EB42FF, #A73CE8);
}

#anuncio-pagina{
                width: 40%;
                height: 100%;
                position: relative;
}
.titulo-pagina{
                position: relative;
                top: 15%;
                left: 10%;
                font-family: 'Passion One', cursive;
                font-size: 5em;
                font-weight: normal;
                color: #4A3CE8;
                text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
                
}
.conjunto-paragrafo-pagina{
                position: relative;
                top: 15%;
                left: 10%;
}
.paragrafo-pagina{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 1.5em;
}

.imagem-pagina{
                position: absolute;
                top: 5px;
                left: 97%;
                width: 45%;
                transform: translate(-100%);
}

.cadastro{
  position: relative;
  width: 80%;
  top: 20%;
  left: 10%;
  /* background-color: #8c50ff; */
}
.rotulo-campos-cadastro{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
.campos-cadastro{
  display: block;
  width:70%;
  margin-bottom: 5%;
  padding: 6px;
  border-style: none;
  border-radius: 20px;
  background-color: #4266FF ;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  color: white;
}
.botao-enviar{
  display: block;
  width: 30%;
  padding:10px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 2px 2px 5px #4266FF  ;
  background-image: linear-gradient(to right, #8C50FF, #4266FF);
  font-family:'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: white;
}
